@model IEnumerable<OnlineShopp.Models.Konsuman>

@{
    ViewData["Title"] = "Index";
}

<h1>Daftar Konsumen</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Konsumen")
            </th>
            <th>
                @Html.DisplayName("Alamat")
            </th>
            <th>
                @Html.DisplayName("Nomor HP")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaKonsumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHp)
            </td>
            <td>
                <a class="text-dark asp-action="Edit" asp-route-id="@item.IdKonsumen"><i class="fa fa-marker fa-lg"></i></a> |
                <a class="text-dark asp-action="Details" asp-route-id="@item.IdKonsumen"><i class="fas fa-list"></i></a> |
                <a class="text-dark asp-action="Delete" asp-route-id="@item.IdKonsumen"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
